@import "tailwindcss";
@import "tw-animate-css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variáveis globais */
:root {
  --container-padding: 15px;

  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 960px;
  --screen-xl: 1200px;

  --color-primary: #1c1c22;
  --color-accent: #ff00cc;
  --color-accent-hover: #e600b8;

  --font-primary: var(--font-jetbrainsMono);
}

/* Base */
@layer base {
  body {
    font-family: var(--font-primary), monospace;
    background-color: var(--color-primary);
    color: white;
    line-height: 1.75;
  }
  .h1 {
    @apply text-[48px] xl:text-[80px] leading-[1.1] font-semibold;
  }
   .h2 {
    @apply text-[36px] xl:text-[48px] leading-[1.1] font-semibold;
  }
   .h3 {
    @apply text-[20px] xl:text-[24px] leading-[1.1] font-semibold;
  }
}

/* Utilitários */
@layer utilities {
  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }

  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }

  .text-accent {
    color: var(--color-accent);
  }

  .text-accent-hover:hover {
    color: var(--color-accent-hover);
  }

  .text-outline {
    -webkit-text-stroke: 1px #ffffff;
  }

  .text-outline-hover {
    -webkit-text-stroke: 1px var(--color-accent);
  }

  .bg-accent {
    background-color: var(--color-accent);
  }

  .bg-accent-hover:hover {
    background-color: var(--color-accent-hover);
  }

  .hover\:text-accent:hover {
    color: var(--color-accent);
  }

  .group:hover .group-hover\:bg-accent-hover {
    background-color: var(--color-accent-hover);
  }

  .group:hover .group-hover\:text-outline-hover {
    -webkit-text-stroke: 1px var(--color-accent);
  }

  .group:hover .group-hover\:text-accent {
    color: var(--color-accent);
  }


}


/* Componentes */
@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: var(--container-padding);
    padding-right: var(--container-padding);
  }

  @media (min-width: 640px) {
    .container {
      max-width: var(--screen-sm);
    }
  }

  @media (min-width: 768px) {
    .container {
      max-width: var(--screen-md);
    }
  }

  @media (min-width: 960px) {
    .container {
      max-width: var(--screen-lg);
    }
  }

  @media (min-width: 1200px) {
    .container {
      max-width: var(--screen-xl);
    }
  }
}

/* Animações */
@keyframes accordion-down {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes accordion-up {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
